body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #23272A;
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top: 6px goldenrod solid !important;
    font-size: 16px;
}

.nav-link {
     font-size: 14px !important;
 }

.navbar {
    box-shadow: none !important
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
    border-radius: 5px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.btn-primary {
    background-color: goldenrod !important
}
.btn-secondary {
    background-color: goldenrod !important
}
.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("https://svgshare.com/i/U1U.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}

.main-logo {
    border-radius: 50% !important;
  border: 2.5px solid goldenrod;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
0% {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
}
50% {
  box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: translatey(-30px);
          transform: translatey(-30px);
}
100% {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
}
}

.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 36px !important
}

.subtitle {
    color: rgba(255, 255, 255, 0.61) !important;
    font-size: 16px !important;
}

.features {
    text-align: center !important;
    background: goldenrod !important;
    padding: 60px 50px !important
}
.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: goldenrod;
}

.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: goldenrod !important;
}



.statistics {
    background-color: #23272A !important;
    text-align: center !important;
    padding: 20px 20px !important;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: goldenrod;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}

.start {
    text-align: center !important;
    background: goldenrod !important;
    padding: 60px 50px !important
}

.start .card {
    background: rgba(255, 255, 255, 0.83) !important;
    color: black !important;
}

.start .card .subtitle {
    color: black !important;
    font-size: 16px !important;
}

.footer {
    text-align: center !important;
    background: #353e4c !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    font-size: 14px !important
}

.footer a {
    color: goldenrod !important;
    text-decoration: none !important;
    font-weight: bold !important;
}
